nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position:sticky;
    top:0;
    background-color: white;
  }

  .navlinks{
    display: none;
  }
  @media(min-width: 640px){
    .toggle{
        display:none;
    }
    .navlinks{
        display: inline-flex;
        list-style: none;
        gap: 1em;
        align-items: center;
    }

  }
  @media(min-width: 1024px){
    nav{
      padding-inline: 6em;
    }
  }
  @media (min-width: 1280px) {
    nav{
      padding-inline: 10em;
    }
  }
  @media (min-width:1536px) {
    nav{
        padding-inline: 15em;
    }
}