@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
  --blue:#2f80ed;
  --white:#ffffff;
  --black:#000000;
  --light-blue:#eaf2fd;
  --gray:#3f3f46;
}

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Open Sans", sans-serif;
}

button{
  border:none;
  border-radius: 3em;
  padding:0.8em 2em;
}
.iconbutton{
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.primarybutton{
  background-color:var(--blue);
  color: var(--white);
}
.outlinedbutton{
  background-color: transparent;
  border: 1px solid var(--gray);
  color: var(--gray);
}
section{
  padding-top: 3em;
}
@media (min-width: 1024px) {
section{
      height: auto;
      padding-inline: 6em;
  }
}
@media (min-width: 1280px) {
section{
      padding-inline: 10em;
  }
}

@media (min-width:1536px) {
  section{
      padding-inline: 15em;
  }
}
